<h2 class="page-header">Login</h2>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Login Form -->
<form [formGroup]="form" (submit)="upload()">

  <!-- Password Field  -->
  <div class="form-group">
    <input class="form-control" type="password" name="name" formControlName="name" />
  
  </div>
  <!-- Submit Button -->
  <input [disabled]="!form.valid" class="btn btn-primary" type="submit" value="Login" />
</form>